@model IEnumerable<DKMovies.Models.ShowTime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auditorium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubtitleLanguageID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubtitleLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is3D)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auditorium.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubtitleLanguageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubtitleLanguage.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is3D)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
